.section-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: var(--light-blue-color);
  min-height: 100vh;
  clip-path: polygon(0 0, 100% 13%, 100% 100%, 0% 100%);

  .aboutus--heading {
    font-size: 4rem;
    color: var(--white-color);
    text-align: center;
    padding: 12rem 0 6rem;
    font-weight: 200;
  }
}

.cards-container {
  display: flex;
  width: 80%;
  height: 50vh;

  .card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin: 0 2rem;
    height: 50vh;
    border-radius: 1rem;
    box-shadow: 0.2rem 0.2rem 1rem black;
    cursor: pointer;
    transition: 0.4s;

    &:hover {
      transform: translateY(-4%);
      box-shadow: 0.2rem 3rem 6rem rgba(0, 0, 0, 0.5);
    }
    .avatar {
      width: 90%;
    }

    .username {
      position: absolute;
      bottom: 1rem;
      font-size: 1.8rem;
      font-weight: 500;
      z-index: -1;
      padding: 0.3rem 0.5rem;
    }
  }
}
