// font-family: 'Montserrat', sans-serif;

:root {
  --blue-color: #4c94bc;
  --light-blue-color: #698fb3;
  --beige-color: #bc8565;
  --navy-color: #38516d;
  --white-color: #d9e3e8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  min-height: 200vh;
  overflow-x: hidden;
}

@import "scss/_Nav.scss";
@import "scss/_Header.scss";
@import "scss/_Section-1.scss";
@import "scss/_Section-2.scss";
@import "scss/_Footer.scss";
